api:
  insecure: true
  dashboard: true

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          scheme: https
          permanent: true

  websecure:
    address: :443
    http:
      tls:
        certResolver: le

providers:
  docker:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false
    watch: true

certificatesResolvers:
  le:
    acme:
      email: nworjiifeanyi@gmail.com
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web

log:
  level: INFO
