http:
  routers:
    frontend-router:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - websecure
      service: frontend-service
      tls:
        certResolver: letsencrypt

    auth-router:
      rule: "PathPrefix(`/api/auth`)"
      entryPoints:
        - websecure
      service: auth-service
      tls:
        certResolver: letsencrypt

    todos-router:
      rule: "PathPrefix(`/api/todos`)"
      entryPoints:
        - websecure
      service: todos-service
      tls:
        certResolver: letsencrypt

    users-router:
      rule: "PathPrefix(`/api/users`)"
      entryPoints:
        - websecure
      service: users-service
      tls:
        certResolver: letsencrypt

  services:
    frontend-service:
      loadBalancer:
        servers:
          - url: "http://frontend:8080"

    auth-service:
      loadBalancer:
        servers:
          - url: "http://auth-api:8081"

    todos-service:
      loadBalancer:
        servers:
          - url: "http://todos-api:8082"

    users-service:
      loadBalancer:
        servers:
          - url: "http://users-api:8083"
